<div #selfElement class="popoverAction">
  <div class="arrow"></div>
  <h3 class="popoverAction-title">Действия</h3>
  <div class="popoverAction-content">

<button (click)="selectDayChange()" type="button" 
        class="app-button app-button-info">Перенос</button>
<div class="selectDayChange">
  <div class="dateOverflow">
      <input #selectChange air-datapicker [view]="{ view: 'days', minView: 'days'}" [inline]="false" [dateFormat]="'dd/mm/yyyy'"
        [altFieldDateFormat]="'yyyy-mm-dd'" type="text" class="form-control" placeholder="Дата" />
      <button class="app-button app-button-primary" type="button" (click)="changeDate( selectChange )">Выполнить</button>
  </div>
</div>

<button (click)="selectDayCopy()" type="button" 
        class="app-button app-button-info">Скопировать</button>
<div class="selectDayCopy">
  <div class="dateOverflow">
      <input #selectCopy air-datapicker [view]="{ view: 'days', minView: 'days'}" [inline]="false" [dateFormat]="'dd/mm/yyyy'"
        [altFieldDateFormat]="'yyyy-mm-dd'" type="text" class="form-control" placeholder="Дата" />
      <button class="app-button app-button-primary" type="button" (click)="copyDate( selectCopy )">Выполнить</button>
  </div>
</div>

<button (click)="DeleteDay()" type="button" class="app-button app-button-warning">Удаление</button>
<div class="DeleteDay">
  <div class="dateOverflow">
    <p>Подтвердите удаление</p><br>
      <button (click)="deleteExamens()" type="button" class="app-button app-button-primary">Выполнить</button>
      <!--<button type="button" class="app-button app-button-color">Нет</button>-->
  </div>
</div>


<hr style="margin: 5px;" />

<button (click)="editExamens()" type="button"
        class="app-button app-button-success">Редактировать</button>

  </div>
</div>
