    <div class="app-panel app-panel-default">
        <div class="app-panel-heading" 
             id="heading{{iterator}}">
             <p>{{iterator}}</p>

            <p class="app-panel-title">
                <a accordion-item  data-target="#body{{iterator}}">
                   {{model.student | json}}
                </a>
            </p>
        </div>
        <div *ngIf="model.student != undefined" id="body{{iterator}}"
             class="app-panel-collapse collapse">
            <div class="app-panel-body">
                <div class="info">
                    <h4>Информация о студенте</h4>
                    <br/>
                    <student-info [student] = "model.student"></student-info>
                    <br/>
                    <button class="app-button app-button-warning">
                        Отписать от экзамена
                    </button>
                </div>
                <div class="comments">
                    <h4>ИСтория комментариев</h4>
                    <br/>                    
                    <textarea>
Большая часть текста сделана из разделов 1.10.32–3 книги Цицерона «На грани Добра и Зла» («De finibus bonorum et malorum»).
Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit является первой известной человечеству
версией («Больше нет никого из тех, кто любит скорбь, поскольку это горе и поэтому хочет заполучить это»). Находка присваивается
Ричарду МакКлинтоку (Richard McClintock), филологу, руководителю публикаций в колледже Хампден-Сидней, что в Вирджинии; он
искал «citings consectetur» в классической латинской литературе, термин, который встречается удивительно редко в том литературном
тексте. Версия Цицерона Liber Primus (Первая Книга), разделы 1.10.32–3 (фрагменты добавлены в большую часть Lorem ipsum красным
цветом): diagonal layout based on Lorem Ipsum[32] Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni
dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet
                    </textarea>
                    <button class="app-button app-button-info">
                        Добавить комментарий
                    </button>                    
                </div>
                <div class="action">

                </div>
            </div>
        </div>
    </div>