.horizontal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  flex-wrap: wrap;
  text-align: center;
}

/*.caption{
    width: 65%;
}
.add_button {
  width: 25%;
}*/

.slider-value{
    line-height: 26px;
    margin-right: 15px;
}
