<div class="app-page-header center">
    <div class="app-page-title">
        <h1>{{discipline?.title}}</h1>
        <p>Редактирование экзамена. <strong>Дата планирования: {{dateToString(date)}}</strong></p>
    </div>
</div>

<div style="width: 80%; margin: 15px auto; height: 150px" class="center">
    <div style="width: 30%; float: left;">
        <span #pieChart class="pie-colours-2"></span>
    </div>
    <div style="width: 68%; float: left;">
        <h4>Результаты:</h4>
        <p class = "legend_row"><span style="background-color:#f77526" class="legend_round" ></span> — Двоек - 3%</p>
        <p class = "legend_row"><span style="background-color:#f7b826" class="legend_round" ></span> — Троек - 6%</p>
        <p class = "legend_row"><span style="background-color:#d5f726" class="legend_round" ></span> — Четверок - 9%</p>
        <p class = "legend_row"><span style="background-color:#1cd2a1" class="legend_round" ></span> — Пятерок - 4%</p>
        <p class = "legend_row"><span style="background-color:#dad5d2" class="legend_round" ></span> — Неоценено - 7%</p>
    </div>


    <!--<p style="width:7%; background-color:bisque; display: inline-block" *ngFor="let item of divs()">{{item}}</p>-->
</div>

<div class="center">
        <examen-edit-row *ngFor="let item of examensViewModel" 
            [model] = "item" 
            [student] = "selectStudent(item)"
            [rate] = "selectRate(item)"
            [rates] ="selectRates(item)"
            [comments] = "selectComments(item)"
            [examens] = "selectExamensForRate(item)"
            (onAdd) = "addRate( item.parentExamen, selectStudent(item), $event)"
            (onUpdate) = "updeteRate(selectRate(item), $event)"
            (onDelete) = "deleteRate(selectRate(item))" 
            (onCommentChange) = "updateComment($event)"
            (onCommentAdd) = "addComment($event)">
        </examen-edit-row>
</div>