<div class="app-page-header center">
    <div class="app-page-title">
        <h1>{{discipline?.title}}</h1>
        <p>Редактирование экзамена. <strong>Дата планирования: {{dateToString(date)}}</strong></p>
    </div>
</div>


<div class="col-xs-12">
    <!--<div class="app-panel-group" id="accordion" >    
        <examen-edit-item-model *ngFor="let item of formModel; let count = index" [model] = "item" [iterator] = "count+1"></examen-edit-item-model>
    </div>-->
</div>

<button (click)="vvv()">RRRRRRRR</button>

<div class="center">
        <examen-edit-row *ngFor="let item of examensViewModel" 
            [model] = "item" 
            [student] = "selectStudent(item)"
            [rate] = "selectRate(item)"
            [rates] ="selectRates(item)"
            [comments] = "selectComments(item)"
            [examens] = "selectExamensForRate(item)"
            (onAdd) = "addRate( item.parentExamen, selectStudent(item.studentID), $event)"
            (onUpdate) = "updeteRate(selectRate(item), $event)"
            (onDelete) = "deleteRate(selectRate(item))" >
        </examen-edit-row>
</div>