<div class="app-page-header center">
  <div class="app-page-title">
    <h1>{{discipline?.title}}</h1>
    <p>Планирование экзаменов</p>    
  </div>

  <div class="app-select-month">
    <!--<div class="calendar-icon">
      <span class="glyphicon glyphicon-calendar"></span>
    </div>-->

    <div class="input-month-discipline">
      <input #selectAnyMonth air-datapicker [view]="{ view: 'months', minView: 'months'}" [inline]="false" [dateFormat]="'MM yyyy'"
        [altFieldDateFormat]="'yyyy:m'" type="text" 
        id="selectMonts" 
        class="app-input-select" 
        placeholder="Выбор месяца" />
    </div>

    <div class="button-accept-month">
      <button class="app-button app-button-primary" type="button" (click)="loadAnyMonth( selectAnyMonth )">Загрузить</button>
    </div>
  </div>

</div>

<div class="center" *ngIf="discipline != undefined">
  <calendar *ngFor="let monthTimestamp of getMonthLoaded() | ObjToTimestampPipe" [examens]="getExamens() | examensForMonth : monthTimestamp"
    [timestamp]="monthTimestamp" [disciplineID]="discipline.id">
    </calendar>
</div>
