hr {
  margin-top: 5px;
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
  box-sizing: content-box;
}

.app-select-month{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

