<div class="jumbotron text-center">
  <div class="row">
    <div class="col-sm-7">
      <h2>{{discipline?.title}}</h2>
      <p>Планирование экзаменов</p>
    </div>
    <div class="col-sm-5">
      <p>Активность: {{discipline?.active}}</p>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </span>
        <input  #selectAnyMonth 
                air-datapicker 
                [view]="{ view: 'months', minView: 'months'}" 
                [inline]="false" [dateFormat]="'MM yyyy'"
                [altFieldDateFormat]="'yyyy:m'" 
                type="text" 
                id="selectMonts" 
                class="form-control" 
                placeholder="Выбор месяца" />
        <span class="input-group-btn">
        <button class="btn btn-primary btn-block" type="button" (click)="loadAnyMonth( selectAnyMonth )">Загрузить</button>
      </span>
      </div>

    </div>
  </div>
</div>

<div *ngIf="discipline != undefined">
  <calendar *ngFor="let monthTimestamp of getMonthLoaded() | ObjToTimestampPipe" [examens]="getExamens() | examensForMonth : monthTimestamp"
    [timestamp]="monthTimestamp" [disciplineID]="discipline.id">
    </calendar>
</div>
