.rateExclude{
    background-color: #de2525;
}
.rate-selector > select {
	border: 3px solid #777;;
    border-radius: 5px;
    width: 55px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    line-height: 23px;
}

