<div class="app-panel app-panel-default">
  <div class="app-panel-heading">
    <div class="event-time">
      <p class="badge">{{timeToString(model.parentExamen.startTime)}}</p>
    </div>

    <div class="event-student">
      <p accordion-item *ngIf="student">{{student.name}}</p>
      <p *ngIf="!student" style="font-style: italic; font-size: small; font-family: serif; color: #888">записать студента</p>
    </div>

    <div class="event-rate">
      <!--<p *ngIf="model.rate" class="label label-primary">{{model.rate.value}}</p>-->
      <rate-selector *ngIf="student" [rate]="rate" (onChange)='changeRateValue($event)'></rate-selector>
    </div>

  </div>

  <div *ngIf="student" class="app-panel-collapse collapse">
    <div class="app-panel-body">
      <div class="student-fio">
        <h1>{{student.name}}</h1>
      </div>

        <div class="student-wrapper">
            <div class="student-info">
              <student-info [student]="student"></student-info>
            </div>

            <div class="student-action">
                      <button class="app-button app-button-info">Информация об обучении</button>&#8195;
<br/>
        <button class="app-button app-button-warning" (click) = "excludeStudent()">Отписать от экзамена</button>
            </div>
        </div>
    </div>
   </div>
