
.thumbnail_active{
  border-color: #c33;
}

.wizard-top-menu li {
  position: none;
  padding: 0;
  line-height: 50px;
}

.navigation-button{
  display: flex;
  justify-content: center;
  direction: rtl;
}

.navigation-button 
.app-button {
  background-color: #993333;
  border-color: #993333;
  margin-right: 20px;
}

.navigation-button .app-button:hover {
  background-color: #c33;
}

.horizontal{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  flex-wrap: wrap;

  text-align: center;
}

add-range{
  width: 100%;
}

divide-ranges{
  width: 100%;
}

.wizard-content{
  min-height: 200px;
}
