<div class="app-page-header center">
  <div class="app-page-title">
    <h1>{{getDiscipline()?.title}}</h1>
  </div>

  <div class="horizontal">
    <div wizard-form [titlesTag]="'h2'" style="width: 70%">
      <ul class="wizard-top-menu">
        <li>Тип экзамена</li>
        <li>Время проведения</li>
        <li>Количество студентов</li>
      </ul>

      <div class="wizard-content-tab">
        <h2 class="wizard-content-title">Шаг первый. Выберете тип экзамена.</h2>
        <div class="wizard-content">
          <form-step1 (onChange)="changeExamenType($event)"></form-step1>
        </div>


        <div class="app-panel app-panel-info" style="width: 80%; margin: 0 auto; margin-bottom: 20px">
          <div class="app-panel-heading">Укажите группу, если нужно ограничить запись</div>
            <div class="app-panel-body" style="font-size: small">        
              <div class="info-date">
                <input #group (input)="changeGroup($event.target.value)" style="border: 1px solid #ddd; padding: 5px;"/>
              </div>    
            </div>
        </div>

        <div class="navigation-button" [style.display]="formObj ? 'flex' : 'none'">
          <button class="app-button app-button-warning" data-wizard-forward>Можно продолжить</button>
        </div>
      </div>

      <div class="wizard-content-tab">
        <h2 class="wizard-content-title">Шаг второй 2. Укажите время проведения.</h2>

        <div class="wizard-content" *ngIf="formObj && formObj.type == 'personal'">
          <add-range [date] = "date" (onChange) = "changeRange($event)"></add-range>
        </div>

        <div class="wizard-content" *ngIf="formObj && formObj.type == 'collective'">
          <add-range [date]="date" (onChange)="changeRange($event)"></add-range>
        </div>

        <div class="navigation-button">
          <button class="app-button app-button-warning" data-wizard-forward>Можно продолжить</button>
          <button class="app-button app-button-warning" data-wizard-back>Вернуться к выбору типа</button>
        </div>
      </div>

      <div class="wizard-content-tab">

        <h2 class="wizard-content-title" *ngIf="formObj && formObj.type == 'personal'">Шаг третий. Разбить период на экзамены.</h2>
        <h2 class="wizard-content-title" *ngIf="formObj && formObj.type == 'collective'">Шаг третий. Укажите количество студентов в аудитории.</h2>

        <div class="wizard-content" *ngIf="formObj">
          <divide-ranges  [mainObject] = "this.formObj" 
                          [changeTriger] = "changeTrigerForChart"
                          (onChange) = "changeDivideResult($event)"></divide-ranges>
        </div>

        <div class="navigation-button">
          <button class="app-button app-button-warning" data-wizard-back>Вернуться к выбору времени</button>
        </div>

      </div>

    </div>


    <div class="app-panel app-panel-info" style="width: 25%; min-width: 250px;">

      <div class="app-panel-heading">Планирование экзаменов</div>
      <div style="font-size: small" *ngIf="formObj" class="app-panel-body">


        <div class="info-date">
          <p><strong>Дата проведения:</strong></p>
          <p>{{getDateString()}}</p>
        </div>

        <div class="info-type">
          <p><strong>Тип экзамена/ов:</strong></p>
          <p>{{formObj.type}}</p>
        </div>

          <div class="info-time" *ngIf="formObj.rangeList && formObj.rangeList.length > 0">

          <p><strong>Время:</strong></p>
          <p>
            {{getMinHoursInfoPanel().getHours()}}:{{formatTimeDigit(getMinHoursInfoPanel().getMinutes())}} —
            {{getMaxHoursInfoPanel().getHours()}}:{{formatTimeDigit(getMaxHoursInfoPanel().getMinutes())}}
          </p>
        </div>

        <div class="info-seats">
          <p><strong>Количество студентов:</strong></p>
          <p *ngIf="formObj.getFormResult()">
            {{ formObj.type == 'personal'? formObj.getFormResult().length : formObj.getCountPlace()}} студент/ов
          </p>

        </div>

      </div>

        <div #saveButton style="display: inline-block;">
          <button *ngIf = "formObj"
                   [style.display]="formObj.getFormResult().length > 0 ? 'block': 'none' " 
                   type="button" 
                   style="margin: 0 auto;" 
                   class="app-button app-button-info"
                   (click)="saveExamens();">Сохранить</button>
          <br/>
        </div>

    </div>

<!--<div class="navigation-button" [style.display]="formObj ? 'flex' : 'none'">
  <button class="app-button app-button-warning" data-wizard-forward>Forward</button>
</div>-->


  </div>


</div>
