<div class="app-page-header center">
  <div class="app-page-title">
    <h1>{{getDiscipline()?.title}}</h1>
  </div>

  <div class="horizontal">
    <div wizard-form [titlesTag]="'h2'">
      <ul class="wizard-top-menu">
        <li>Тип экзамена</li>
        <li>Время проведения</li>
        <li>Количество студентов</li>
      </ul>

      <div class="wizard-content-tab">
        <h2 class="wizard-content-title">Шаг первый. Выберете тип экзамена.</h2>
        <div class="wizard-content">
          <form-step1 (onChange)="changeExamenType($event)"></form-step1>
        </div>

        <div class="navigation-button" [style.display]="formObj ? 'flex' : 'none'">
          <button class="app-button app-button-warning" data-wizard-forward>Forward</button>
        </div>
      </div>

      <div class="wizard-content-tab">
        <h2 class="wizard-content-title">Шаг второй 2. Укажите время проведения.</h2>

        <div class="wizard-content" *ngIf="formObj && formObj.type == 'personal'">
          <div>
            <p><strong>Начало экзаменов:</strong></p>
            <div class="thumbnail">
              <div class="caption">
                <timepicker [defaultHour]='17' [defaultMinute]='0' [onlyHours]="true" (onChangeTimePicker)="changeTime($event, null)">
                </timepicker>
              </div>
            </div>
          </div>
          <div>
            <p><strong>Окончание экзаменов</strong></p>
            <div class="thumbnail">
              <div class="caption">
                <timepicker #endTimePicker [defaultHour]='22' [defaultMinute]='0' [onlyHours]="true" [hourMinLimit]='formObj.startTime.getHours()'
                  (onChangeTimePicker)="changeTime(null, $event)">
                </timepicker>
              </div>
            </div>
          </div>
          <div>
            <div class="app-panel">
              <div class="app-panel-heading">Планирование</div>
              <div style="font-size: small" class="app-panel-body" *ngIf="formObj">
                <p><strong>Тип экзамена/ов: </strong>{{formObj.type}}</p>
                <p><strong>Время: </strong> {{formObj.startTime.getHours()}}:{{formatTimeDigit(formObj.startTime.getMinutes())}}
                  - {{formObj.endTime.getHours()}}:{{formatTimeDigit(formObj.endTime.getMinutes())}}
                </p>
                <p *ngIf="formObj.range"><strong>Продолжительность: </strong>{{formObj.range}} мин.</p>
                <p *ngIf="formObj.getFormResult().length > 0">
                  <strong>Будет принято: </strong> {{ formObj.type == 'personal'? formObj.getFormResult().length : formObj.examensObject.count}}
                  студент/ов
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="wizard-content" *ngIf="formObj && formObj.type == 'collective'">
          <div>
            <p>Начало экзамена:</p>
            <div class="thumbnail">
              <div class="caption">
                <timepicker [defaultHour]='17' [defaultMinute]='0' [onlyHours]="false" (onChangeTimePicker)="changeTime($event, null)"></timepicker>
              </div>
            </div>
          </div>
          <div>
            <p>Окончание экзамена</p>
            <div class="thumbnail">
              <div class="caption">
                <timepicker [defaultHour]='19' [defaultMinute]='0' [onlyHours]="false" [hourMinLimit]='formObj.startTime.getHours()' (onChangeTimePicker)="changeTime(null, $event)"></timepicker>
              </div>
            </div>
          </div>
          <div>
            <div class="app-panel">
              <div class="app-panel-heading">Планирование</div>
              <div style="font-size: small" class="app-panel-body" *ngIf="formObj">
                <p><strong>Тип экзамена/ов: </strong>{{formObj.type}}</p>
                <p><strong>Время: </strong> {{formObj.startTime.getHours()}}:{{formatTimeDigit(formObj.startTime.getMinutes())}}
                  - {{formObj.endTime.getHours()}}:{{formatTimeDigit(formObj.endTime.getMinutes())}}
                </p>
                <p *ngIf="formObj.range"><strong>Продолжительность: </strong>{{formObj.diffTime()}} мин.</p>
                <p *ngIf="formObj.getFormResult().length > 0">
                  <strong>Будет принято: </strong> {{formObj.examensObject.count}} студент/ов
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="navigation-button">

          <button class="app-button app-button-warning" data-wizard-forward>Forward</button>
          <button class="app-button app-button-warning" data-wizard-back>Back</button>


        </div>
      </div>

      <div class="wizard-content-tab">

        <h2 class="wizard-content-title" *ngIf="formObj && formObj.type == 'personal'">Шаг третий. Разбить период на экзамены.</h2>
        <h2 class="wizard-content-title" *ngIf="formObj && formObj.type == 'collective'">Шаг третий. Укажите количество студентов в аудитории.</h2>

        <div class="wizard-content" *ngIf="formObj && formObj.type == 'personal'">
          <div style="width: 60%">
            <p><strong>Определен промежуток в {{ formObj.diffTime() / 60 }} ч. Разбить на: </strong></p><br/>
            <div class="thumbnail">
              <div class="caption">
                <div class="group-row">
                  <div class="app-button-group">
                    <button type="button" class="app-button app-button-info" (click)="formObj.changeParams(10); hours.value=''">10 мин.</button>
                    <button type="button" class="app-button app-button-info" (click)="formObj.changeParams(15); hours.value=''">15 мин.</button>
                    <button type="button" class="app-button app-button-info" (click)="formObj.changeParams(20); hours.value=''">20 мин.</button>
                    <button type="button" class="app-button app-button-info" (click)="formObj.changeParams(30); hours.value=''">30 мин.</button>
                    <input #hours type="text" class="app-input-select" placeholder="Свой интервал" (input)="formObj.changeParams($event.target.value)">
                    <span class="input-group-addon" style="display: flex; margin: auto 10px;">
                        <input #hvostik title="Добавлять выходящий за пределы последний экзамен" 
                              type="checkbox" 
                              (change) = "formObj.changeParams(hvostik.checked)">
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="app-panel">
              <div class="app-panel-heading">Планирование</div>
              <div style="font-size: small" class="app-panel-body" *ngIf="formObj">
                <p><strong>Тип экзамена/ов: </strong>{{formObj.type}}</p>
                <p><strong>Время: </strong> {{formObj.startTime.getHours()}}:{{formatTimeDigit(formObj.startTime.getMinutes())}}
                  - {{formObj.endTime.getHours()}}:{{formatTimeDigit(formObj.endTime.getMinutes())}}
                </p>
                <p *ngIf="formObj.range"><strong>Продолжительность: </strong>{{formObj.range}} мин.</p>
                <p *ngIf="formObj.getFormResult().length > 0">
                  <strong>Будет принято: </strong> {{formObj.getFormResult().length}} студент/ов
                </p>
                <button [style.display]="formObj.getFormResult().length > 0 ? 'block':'none'" [disabled]="formObj.getFormResult().length <= 0"
                  type="button" style="margin: 0 auto;" class="app-button app-button-info" (click)="saveExamens();">Сохранить</button>


              </div>
            </div>
          </div>
        </div>

        <div *ngIf="formObj && formObj.type == 'personal'">
          <div *ngIf="formObj.examensObject.length > 0">
            <div class="app-panel">
              <div class="app-panel-heading">
                <p>Снимите активность с не нужных</p>
              </div>
              <div class="app-panel-body" style="display: flex; flex-wrap: wrap; justify-content: center;">
                <div class="thumbnail examen-element" [class.deactive]="!item.isSelected" *ngFor="let item of formObj.examensObject">
                  <div class="caption">
                    <ul class="app-list-group">
                      <li class="app-list-group-item">
                        <span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span>
                        <strong>{{item.start.getHours()}}:{{formatTimeDigit(item.start.getMinutes())}}</strong> - {{item.end.getHours()}}:{{formatTimeDigit(item.end.getMinutes())}}
                      </li>
                      <li class="app-list-group-item">
                        <input type="checkbox" checked="item.isSelected" (change)="item.isSelected = !item.isSelected" /> Активность
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="formObj && formObj.type == 'collective'">
          <div class="wizard-content" style="text-align: center">

            <div style="width: 60%">
              <p>Будет принято: {{formObj.getCountPlace()}} студентов</p>
              <div class="thumbnail">
                <div class="caption">
                  <slider [min]="1" [max]="100" [value]="90" (onChangeSlider)="formObj.changeParams($event)"></slider>
                </div>
              </div>
            </div>
            <div>
              <div class="app-panel">
                <div class="app-panel-heading">Планирование</div>
                <div style="font-size: small" class="app-panel-body" *ngIf="formObj">
                  <p><strong>Тип экзамена/ов: </strong>{{formObj.type}}</p>
                  <p><strong>Время: </strong> {{formObj.startTime.getHours()}}:{{formatTimeDigit(formObj.startTime.getMinutes())}}
                    - {{formObj.endTime.getHours()}}:{{formatTimeDigit(formObj.endTime.getMinutes())}}
                  </p>
                  <p *ngIf="formObj.range"><strong>Продолжительность: </strong>{{formObj.range}} мин.</p>
                  <p *ngIf="formObj.getFormResult().length > 0">
                    <strong>Будет принято: </strong> {{ formObj.type == 'personal'? formObj.getFormResult().length : formObj.examensObject.count}}
                    студент/ов
                  </p>
                  <button [disabled]="formObj.getFormResult().length <= 0" type="button" style="margin: 0 auto;" class="app-button app-button-info"
                    (click)="saveExamens();">Сохранить</button>


                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="navigation-button">

          <button class="app-button app-button-warning" data-wizard-back>Back</button>

        </div>

      </div>



    </div>


    <div class="app-panel app-panel-info" *ngIf="formObj">
      <div class="app-panel-heading">Планирование экзаменов</div>
      <div style="font-size: small" class="app-panel-body horizontal">

        <div class="info-date">
          <p><strong>Дата проведения:</strong></p>
          <p>{{getDateString()}}</p>
        </div>

        <div class="info-type">
          <p><strong>Тип экзамена/ов:</strong></p>
          <p>{{formObj.type}}</p>
        </div>

        <div class="info-time">
          <p><strong>Время:</strong></p>
          <p> {{formObj.startTime.getHours()}}:{{formatTimeDigit(formObj.startTime.getMinutes())}} - {{formObj.endTime.getHours()}}:{{formatTimeDigit(formObj.endTime.getMinutes())}}
            </p>
        </div>

        <div class="info-range">
          <p><strong>Продолжительность:</strong></p>
          <p *ngIf="formObj.range">{{formObj.range}} мин.</p>
        </div>

        <div class="info-seats">
          <p><strong>Количество студентов:</strong></p>
          <p *ngIf="formObj.getFormResult().length > 0">
            {{ formObj.type == 'personal'? formObj.getFormResult().length : formObj.examensObject.count}} студент/ов
          </p>
        </div>

      </div>
    </div>
  </div>


</div>
