<div class="app-page-header center">
  <div class="app-page-title">
    <h1>{{getDiscipline()?.title}}</h1>
    <p>Планирование экзаменов</p>
  </div>


  <div wizard-form [titlesTag]="'h2'">
    <ul class="wizard-top-menu">
      <li>One Tab</li>
      <li>Two Tab</li>
      <li>Three Tab</li>
    </ul>

    <div class="wizard-content-tab">
      <h2 class="wizard-content-title">Шаг первый. Выберете тип экзамена.</h2>
      <div class="wizard-content">
        <div class='personal'>
          <p><strong>Персональный</strong></p>
          <label for="personalType" style="display: inherit; cursor: pointer">
            <div class="thumbnail">
                <img src="http://s1.iconbird.com/ico/2013/9/450/w256h2561380453931User256x25632.png" style="height: 80px">
                <div class="caption">
                    <p style="font-size: small; font-weight: 400;">Каждый студент сдает экзамен отдельно, в назначенное ему время.</p>
                </div>
            </div>
          </label>
        </div>
        <div class='collectiv'>
          <p><strong>Коллективный</strong></p>
          <label for="collectiveType" style="display: inherit; cursor: pointer">
            <div class="thumbnail">
                <img src="http://s1.iconbird.com/ico/2013/9/450/w256h2561380453931UserAccounts256x25632.png" style="height: 90px">
                <div class="caption">
                    <p style="font-size: small; font-weight: 400;">Общий экзамен для группы студентов в аудитории. Одно время для всех.</p>
                </div>
            </div>
          </label>
        </div>
        <div>
          <div class="panel panel-info">
            <div class="panel-heading">Планирование</div>
            <div style="font-size: small" class="panel-body text-left" *ngIf="formObj">
              <blockquote>
                <p><strong>Тип экзамена/ов: </strong>{{formObj.type}}</p>
                <p><strong>Время: </strong> {{formObj.startTime.getHours()}}:{{formatTimeDigit(formObj.startTime.getMinutes())}}
                  - {{formObj.endTime.getHours()}}:{{formatTimeDigit(formObj.endTime.getMinutes())}}
                </p>
                <p *ngIf="formObj.range"><strong>Продолжительность: </strong>{{formObj.range}} мин.</p>
                <p *ngIf="formObj.getFormResult().length > 0">
                  <strong>Будет принято: </strong> {{ formObj.type == 'personal'? formObj.getFormResult().length : formObj.examensObject.count}}
                  студент/ов
                </p>
              </blockquote>
            </div>
          </div>
        </div>
        <input style="display: none" id="personalType" type="radio" name="selectType" (change)="changeExamenType('personal')">
        <input style="display: none" id="collectiveType" type="radio" name="selectType" (change)="changeExamenType('collective')">


      </div>
      <div>
        <button data-wizard-forward>Forward</button>
      </div>
    </div>


<div class="wizard-content-tab">
  <h2 class="wizard-content-title">Шаг второй 2. Укажите время проведения.</h2>
  <div class="wizard-content">

<div class="col-xs-12 well well-lg" style="text-align: center">
  <div *ngIf="formObj && formObj.type == 'personal'">
    <div class="col-sm-4">
      <p><strong>Начало экзаменов:</strong></p>
      <div class="thumbnail">
        <div class="caption">
          <timepicker [defaultHour]='17' [defaultMinute]='0' [onlyHours]="true" (onChangeTimePicker)="changeTime($event, null)">
          </timepicker>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <p><strong>Окончание экзаменов</strong></p>
      <div class="thumbnail">
        <div class="caption">
          <timepicker #endTimePicker [defaultHour]='22' [defaultMinute]='0' [onlyHours]="true" [hourMinLimit]='formObj.startTime.getHours()'
            (onChangeTimePicker)="changeTime(null, $event)">
          </timepicker>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="panel panel-info">
        <div class="panel-heading">Планирование</div>
        <div style="font-size: small" class="panel-body text-left" *ngIf="formObj">
          <blockquote>
            <p><strong>Тип экзамена/ов: </strong>{{formObj.type}}</p>
            <p><strong>Время: </strong> {{formObj.startTime.getHours()}}:{{formatTimeDigit(formObj.startTime.getMinutes())}}
              - {{formObj.endTime.getHours()}}:{{formatTimeDigit(formObj.endTime.getMinutes())}}
            </p>
            <p *ngIf="formObj.range"><strong>Продолжительность: </strong>{{formObj.range}} мин.</p>
            <p *ngIf="formObj.getFormResult().length > 0">
              <strong>Будет принято: </strong> {{formObj.getFormResult().length}} студент/ов
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="formObj && formObj.type == 'collective'">
    <div class="col-sm-4">
      <p>Начало экзамена:</p>
      <div class="thumbnail">
        <div class="caption">
          <timepicker [defaultHour]='17' [defaultMinute]='0' [onlyHours]="false" (onChangeTimePicker)="changeTime($event, null)"></timepicker>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <p>Окончание экзамена</p>
      <div class="thumbnail">
        <div class="caption">
          <timepicker [defaultHour]='19' [defaultMinute]='0' [onlyHours]="false" [hourMinLimit]='formObj.startTime.getHours()' (onChangeTimePicker)="changeTime(null, $event)"></timepicker>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="panel panel-info">
        <div class="panel-heading">Планирование</div>
        <div style="font-size: small" class="panel-body text-left" *ngIf="formObj">
          <blockquote>
            <p><strong>Тип экзамена/ов: </strong>{{formObj.type}}</p>
            <p><strong>Время: </strong> {{formObj.startTime.getHours()}}:{{formatTimeDigit(formObj.startTime.getMinutes())}}
              - {{formObj.endTime.getHours()}}:{{formatTimeDigit(formObj.endTime.getMinutes())}}
            </p>
            <p *ngIf="formObj.range"><strong>Продолжительность: </strong>{{formObj.diffTime()}} мин.</p>
            <p *ngIf="formObj.getFormResult().length > 0">
              <strong>Будет принято: </strong> {{formObj.examensObject.count}} студент/ов
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>





  </div>
  <div>
  <button data-wizard-back>Back</button>
  <button data-wizard-forward>Forward</button>
</div>
</div>

    <div>
      <h2>Последний заголовок</h2>
      <div>
        <p>Last Content</p>
      </div>
      <div>
        <button data-wizard-back>Back</button>
      </div>
    </div>
  </div>
</div>
