.app-page-header {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-around;
  align-items: stretch;
  margin: 20px auto;
}

.app-page-title {
  margin-bottom: 15px;
}

.app-page-title h1 {
  font-size: 24pt;
}



