<div class="app-filter-header greystripe">
  <div>
    Фильтры:
  </div>
  <div>
    <label>
      <input type="checkbox" 
              checked = "isACtive" 
              (change) = "filterActiveChange($event.target.checked)">
      Только активные
    </label></div>
  <div *ngIf="getCurrentTeachers().length > 0">
    <label for="sel1">По преподавателю:</label>
    <select class="app-input-select" id="sel1" (change)="filterTeacherChange($event.target.value)">
        <option value = "all">Все преподаватели</option>
        <option *ngFor = "let teacher of getCurrentTeachers()" value = "{{teacher.id}}">{{teacher.name}}</option>
      </select>
  </div>
</div>

<br/>

<div class="app-discipline-list center" *ngIf="getDisciplines()">
  <div class="app-discipline-item app-panel" *ngFor="let discipine of getDisciplines()">
    <div class="app-panel-heading">
      <h3 class="card-title">{{discipine.title}}</h3>      
    </div>
    <div class="app-panel-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngIf="getTeacher(discipine.teacherId)">Преподаватель:<br/>{{getTeacher(discipine.teacherId).name}}</li>
        <li class="list-group-item">Форма обучения: {{discipine.format}}</li>
        <li class="list-group-item">Активность: {{discipine.active}}</li>
      </ul>
      <div class="card-block">
        <a routerLink="/discipline/{{discipine.id}}" class="app-button app-button-info">Планирование</a>
      </div>      
    </div>
  </div>
</div>
