<div class="col-xs-12">
  <div class="col-sm-6">
  <div class="checkbox">
    <label>
      <input type="checkbox" 
              checked = "isACtive" 
              (change) = "filterActiveChange($event.target.checked)">
      Только активные
    </label>
  </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group" *ngIf = "getCurrentTeachers().length > 0">
      <label for="sel1">По преподавателю:</label>
      <select class="form-control" id="sel1" 
              (change) = "filterTeacherChange($event.target.value)">
        <option value = "all">Все преподаватели</option>
        <option *ngFor = "let teacher of getCurrentTeachers()" value = "{{teacher.id}}">{{teacher.name}}</option>
      </select>
    </div>
  </div>
</div>
<br/>

<button (click) = "ddd()">asdasd</button>

<div class="col-xs-12" *ngIf = "getDisciplines()">
  <div class="col-md-3 col-sm-4 col-xs-12" *ngFor="let discipine of getDisciplines()">
  <div  class="thumbnail">
    <div class="caption">
      <h4 class="card-title">{{discipine.title}}</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngIf="getTeacher(discipine.teacherId)">Преподаватель:<br/>{{getTeacher(discipine.teacherId).name}}</li>
        <li class="list-group-item">Форма обучения: {{discipine.format}}</li>
        <li class="list-group-item">Активность: {{discipine.active}}</li>
      </ul>
      <div class="card-block">
        <a routerLink="/discipline/{{discipine.id}}" class="card-link">Планирование</a>
      </div>
    </div>
  </div>
  </div>
</div>