<div class="student-info-block">
  <div class="student-photo">   
    <div class="clip" [style.background-image] = "studentPhoto()"></div>
  </div>
  <div class="cont">
    <ul class="app-list-group">
      <li class="app-list-group-item" *ngIf="student.phone"><i class="demo-icon icon-phone-circled"></i>{{student.phone}}</li>
      <li class="app-list-group-item" *ngIf="student.skype">
        <i class="demo-icon icon-skype"></i>
        {{student.skype}}
      </li>
      <li class="app-list-group-item" *ngIf="student.email">
        <i class="demo-icon icon-mail-circled"></i>
        <a href="mailto:{{student.email}}">{{student.email}}</a>
      </li>
      <li class="app-list-group-item">
          <label>
            <i class="demo-icon icon-graduation-cap" [ngStyle] ="{ 'background-color': blue }"></i>
            Отличник — 
            <input  type="checkbox"
                    [checked] = "excelent"
                    (change) = "changeExcelent($event.target.checked)" />
          </label>
      </li>
      
    </ul>

  </div>
</div>
<br/>
