<h3>Предмет: {{getDiscipline().title}}</h3>
<h4>Добавление экзаменов на {{date.getDate()}} {{ monthName(date) }} {{date.getFullYear()}}</h4>
<div class="add-examens-wizard">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                <span class="round-tab">
                                <i class="glyphicon glyphicon-picture"></i>
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>                

                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <div class="jumbotron">
                            <h3>Шаг первый. Выберете тип экзамена.</h3>
                        </div>
                        <div class="col-xs-12 well well-lg" style="text-align: center">
                            <div class="col-sm-4">
                                <p><strong>Персональный</strong></p> 
                                <label for="personalType" style="display: inherit; cursor: pointer">
                                    <div class="thumbnail">
                                        <img src="http://s1.iconbird.com/ico/2013/9/450/w256h2561380453931User256x25632.png" style="height: 80px">
                                        <div class="caption">
                                            <p style="font-size: small; font-weight: 400;">Каждый студент сдает экзамен отдельно, в назначенное ему время.</p>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <p><strong>Коллективный</strong></p>                                
                                <label for="collectiveType" style="display: inherit; cursor: pointer">
                                    <div class="thumbnail">
                                        <img src="http://s1.iconbird.com/ico/2013/9/450/w256h2561380453931UserAccounts256x25632.png" style="height: 90px">
                                        <div class="caption">
                                            <p style="font-size: small; font-weight: 400;">Общий экзамен для группы студентов в аудитории. Одно время для всех.</p>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="col-sm-4 ">                                
                                <div class="panel panel-info">
                                    <div class="panel-heading">Планирование</div>
                                    <div style="font-size: small"
                                         class="panel-body text-left" *ngIf = "formObj">
                                        <blockquote>
                                            <p><strong>Тип экзамена/ов: </strong>{{formObj.type}}</p>
                                            <p><strong>Время: </strong>
                                                {{formObj.startTime.getHours()}}:{{formatTimeDigit(formObj.startTime.getMinutes())}} 
                                                - 
                                                {{formObj.endTime.getHours()}}:{{formatTimeDigit(formObj.endTime.getMinutes())}}
                                            </p>
                                            <p *ngIf = "formObj.range"><strong>Продолжительность: </strong>{{formObj.range}} мин.</p>
                                            <p *ngIf = "formObj.getFormResult().length > 0">
                                                <strong>Будет принято: </strong>
                                                {{ formObj.type == 'personal'? formObj.getFormResult().length : formObj.examensObject.count}}
                                                     студент/ов
                                            </p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>                            
                            <input style="display: none" id="personalType" type="radio" name="selectType" (change)="changeExamenType('personal')">
                            <input style="display: none" id="collectiveType" type="radio" name="selectType" (change)="changeExamenType('collective')">
                        </div>
						
                        <ul class="list-inline pull-right">
                            <li><button [disabled] = "!formObj" type="button" class="btn btn-primary next-step">Далее</button></li>
                        </ul>  
						
                    </div>			
					
                    <div class="tab-pane" role="tabpanel" id="step2">
                        <div class="jumbotron">
                            <h3>Шаг второй 2. Укажите время проведения.</h3>
                        </div>
                        <div class="col-xs-12 well well-lg" style="text-align: center">
                            <div *ngIf = "formObj && formObj.type == 'personal'">
                                <div class="col-sm-4">
                                    <p><strong>Начало экзаменов:</strong></p>                                    
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <timepicker [defaultHour]='17' 
                                                        [defaultMinute]='0' 
                                                        [onlyHours]="true" 
                                                        (onChangeTimePicker)="changeTime($event, null)">
                                            </timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <p><strong>Окончание экзаменов</strong></p>                                    
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <timepicker #endTimePicker
                                                        [defaultHour]='22' 
                                                        [defaultMinute]='0' 
                                                        [onlyHours]="true" 
                                                        [hourMinLimit] = 'formObj.startTime.getHours()'
                                                        (onChangeTimePicker)="changeTime(null, $event)">
                                            </timepicker>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-sm-4 ">                                
                                <div class="panel panel-info">
                                    <div class="panel-heading">Планирование</div>
                                    <div style="font-size: small"
                                         class="panel-body text-left" *ngIf = "formObj">
                                        <blockquote>
                                            <p><strong>Тип экзамена/ов: </strong>{{formObj.type}}</p>
                                            <p><strong>Время: </strong>
                                                {{formObj.startTime.getHours()}}:{{formatTimeDigit(formObj.startTime.getMinutes())}} 
                                                - 
                                                {{formObj.endTime.getHours()}}:{{formatTimeDigit(formObj.endTime.getMinutes())}}
                                            </p>
                                            <p *ngIf = "formObj.range"><strong>Продолжительность: </strong>{{formObj.range}} мин.</p>
                                            <p *ngIf = "formObj.getFormResult().length > 0">
                                                <strong>Будет принято: </strong>
                                                    {{formObj.getFormResult().length}} студент/ов
                                            </p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>    
                            </div>

                            <div *ngIf = "formObj && formObj.type == 'collective'">
                                <div class="col-sm-4">
                                    <p>Начало экзамена:</p>                                    
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <timepicker [defaultHour]='17' [defaultMinute]='0' [onlyHours]="false" (onChangeTimePicker)="changeTime($event, null)"></timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <p>Окончание экзамена</p>                                    
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <timepicker [defaultHour]='19' [defaultMinute]='0' [onlyHours]="false" [hourMinLimit] = 'formObj.startTime.getHours()' (onChangeTimePicker)="changeTime(null, $event)"></timepicker>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-sm-4 ">                                
                                <div class="panel panel-info">
                                    <div class="panel-heading">Планирование</div>
                                    <div style="font-size: small"
                                         class="panel-body text-left" *ngIf = "formObj">
                                        <blockquote>
                                            <p><strong>Тип экзамена/ов: </strong>{{formObj.type}}</p>
                                            <p><strong>Время: </strong>
                                                {{formObj.startTime.getHours()}}:{{formatTimeDigit(formObj.startTime.getMinutes())}} 
                                                - 
                                                {{formObj.endTime.getHours()}}:{{formatTimeDigit(formObj.endTime.getMinutes())}}
                                            </p>
                                            <p *ngIf = "formObj.range"><strong>Продолжительность: </strong>{{formObj.diffTime()}} мин.</p>
                                            <p *ngIf = "formObj.getFormResult().length > 0">
                                                <strong>Будет принято: </strong>
                                                    {{formObj.examensObject.count}} студент/ов
                                            </p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>     
                            </div>
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Назад</button></li>
                            <li><button [disabled] = "!formObj || formObj.diffTime() <=0" type="button" class="btn btn-primary next-step">Далее</button></li>
                        </ul>
                    </div>


                    <div class="tab-pane" role="tabpanel" id="step3">
                        <div class="jumbotron" *ngIf = "formObj && formObj.type == 'personal'">
                            <h3>Шаг третий. Разбить период на экзамены.</h3>
                        </div>
                        <div class="jumbotron" *ngIf = "formObj && formObj.type == 'collective'">
                            <h3>Шаг третий. Укажите количество студентов в аудитории.</h3>
                        </div>

                        <div *ngIf = "formObj && formObj.type == 'personal'">
                            <div class="col-xs-12 well well-lg" style="text-align: center">
                                <div class="col-md-8 col-xs-12">
                                    <p><strong>Определен промежуток в {{ formObj.diffTime() / 60 }} ч. Разбить на: </strong></p><br/>
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-info" (click) = "formObj.changeParams(10); hours.value=''">10 мин.</button>
                                                    <button type="button" class="btn btn-info" (click) = "formObj.changeParams(15); hours.value=''">15 мин.</button>
                                                    <button type="button" class="btn btn-info" (click) = "formObj.changeParams(20); hours.value=''">20 мин.</button>
                                                    <button type="button" class="btn btn-info" (click) = "formObj.changeParams(30); hours.value=''">30 мин.</button>                                        
                                                </div>
                                                <input #hours type="text" class="form-control" placeholder="Свой интервал" (input) = "formObj.changeParams($event.target.value)">
                                                <span class="input-group-addon">
                                                    <input #hvostik title="Добавлять выходящий за пределы последний экзамен" type="checkbox" (change) = "formObj.changeParams(hvostik.checked)">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-sm-4 ">                                
                                <div class="panel panel-info">
                                    <div class="panel-heading">Планирование</div>
                                    <div style="font-size: small"
                                         class="panel-body text-left" *ngIf = "formObj">
                                        <blockquote>
                                            <p><strong>Тип экзамена/ов: </strong>{{formObj.type}}</p>
                                            <p><strong>Время: </strong>
                                                {{formObj.startTime.getHours()}}:{{formatTimeDigit(formObj.startTime.getMinutes())}} 
                                                - 
                                                {{formObj.endTime.getHours()}}:{{formatTimeDigit(formObj.endTime.getMinutes())}}
                                            </p>
                                            <p *ngIf = "formObj.range"><strong>Продолжительность: </strong>{{formObj.range}} мин.</p>
                                            <p *ngIf = "formObj.getFormResult().length > 0">
                                                <strong>Будет принято: </strong>
                                                    {{formObj.getFormResult().length}} студент/ов
                                            </p>
                                            <button [disabled] = "formObj.getFormResult().length <= 0" type="button" class="btn btn-primary btn-large" (click)="saveExamens();">Сохранить</button>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>                                   

                                <div class="col-xs-12" *ngIf = "formObj.examensObject.length > 0">
                                    <br/>
                                <p>Снимите активность с не нужных</p>
                                <div class="col-xs-12" style="text-align: left">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <div    class="thumbnail examen-element" [class.deactive] ="!item.isSelected" 
                                                    *ngFor = "let item of formObj.examensObject">
                                                <div class="caption">
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            <span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span>
                                                            {{item.start.getHours()}}:{{formatTimeDigit(item.start.getMinutes())}} - 
                                                            {{item.end.getHours()}}:{{formatTimeDigit(item.end.getMinutes())}}
                                                        </li>
                                                        <li class="list-group-item">
                                                            <input type="checkbox" checked="item.isSelected" (change) = "item.isSelected = !item.isSelected"/> Активность
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div *ngIf = "formObj && formObj.type == 'collective'">
                            <div class="col-xs-12 well well-lg" style="text-align: center">
                                <div class="col-md-8 col-xs-12">
                                    <p>Будет принято: {{formObj.getCountPlace()}} студентов</p>
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <slider [min]="1" [max]="100" [value]="90" (onChangeSlider)="formObj.changeParams($event)"></slider>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-sm-4 ">                                
                                <div class="panel panel-info">
                                    <div class="panel-heading">Планирование</div>
                                    <div style="font-size: small"
                                         class="panel-body text-left" *ngIf = "formObj">
                                        <blockquote>
                                            <p><strong>Тип экзамена/ов: </strong>{{formObj.type}}</p>
                                            <p><strong>Время: </strong>
                                                {{formObj.startTime.getHours()}}:{{formatTimeDigit(formObj.startTime.getMinutes())}} 
                                                - 
                                                {{formObj.endTime.getHours()}}:{{formatTimeDigit(formObj.endTime.getMinutes())}}
                                            </p>
                                            <p *ngIf = "formObj.range"><strong>Продолжительность: </strong>{{formObj.range}} мин.</p>
                                            <p *ngIf = "formObj.getFormResult().length > 0">
                                                <strong>Будет принято: </strong>
                                                {{ formObj.type == 'personal'? formObj.getFormResult().length : formObj.examensObject.count}}
                                                     студент/ов
                                            </p>
                                            <button [disabled] = "formObj.getFormResult().length <= 0" type="button" class="btn btn-primary btn-large" (click)="saveExamens();">Сохранить</button>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>    
                            </div>
                        </div>

                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Назад</button></li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
</div>