.dayOfCalendar {
    /*width: 60px;*/
    height: 60px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    /*line-height: 60px;*/
    font-size: small;
}

.dayOfCalendar > .day-popover{
    display: block;
    position: relative;
    cursor: pointer;
    width: 55px;
    height: 55px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
}

.dayOfCalendar>.day-popover:hover {
     background: rgba(0, 170, 238, 0.1);
}

.dayOfCalendar a{
    text-decoration: none;
    color: #333;
}

.dayOfCalendar .student_invited, .dayOfCalendar .examens_count {
    position: absolute;
    border-radius: 50%;
    background-color: #d9f4ff;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    /*border: 1px solid #bcd0de;*/
}

.dayOfCalendar .student_invited{
    top: 7px;
    right: -5px;
}

.dayOfCalendar .examens_count {
    bottom: 7px;
    right: -5px;
}


.dayOfCalendar .percent_invited{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 60px;
}


.popupWindow{
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 3px solid red;
    background-color: white;
}

