<div *ngIf="examens.length" class="dayOfCalendar" >
    <!--Сколько экзменов занято-->
    <span>{{ percentageOneInTwo( currentStudentsInvited().length, countExamensOfDay() ) }}%</span>

    <a  #popoverTag 
        class="day-popover" 
        data-container="body" 
        data-toggle="popover" 
        data-placement="left">

            <span   pie-chart
                    class="pie-chart"
                    [innerRadius] = "25"
                    [radius] = "28"
                    [percent] = "{ dig: currentStudentsInvited().length, in: countExamensOfDay() }">
            </span>                    
    </a>
</div>