<div #selfElement
     class="dayOfCalendar" >
    <span class="percent_invited">{{ percentageOneInTwo( currentStudentsInvited().length, countExamensOfDay() ) }}%</span>

    <div #popupWrapper style="position: relative; width: 60px; margin: 0 auto;">
        <a class="day-popover" 
        (click) = "popupWindow()">
                <span pie-chart class="pie-chart" 
                    [innerRadius]="25" 
                    [radius]="28" 
                    [percent]="{ dig: currentStudentsInvited().length, in: countExamensOfDay() }">
                </span>
        </a>
            <popupActionOfDay   [initialElement] = 'popupWrapper' 
                                (onChange) = "changeExamens($event)"
                                (onCopy) = "copyExamens($event)"
                                (onDelete) = "deleteExamens()"
                                (onEdit) = "editExamens()">
            </popupActionOfDay>

    </div>

    <span class="for_group" *ngIf="isForGroup().length > 0">{{groupName()}}</span>
    <span class="student_invited">{{currentStudentsInvited().length}}</span>
    <span class="examens_count">{{countExamensOfDay()}}</span>


</div>

