<div  class="dayOfCalendar" >
<!--<button #popupTarget (click)="ddd()" style="z-index: 100"> sasdasd </button>-->

<div #popupWindow class="popupWindow">
    asdasd
</div>
    <!--<span class="percent_invited">{{ percentageOneInTwo( currentStudentsInvited().length, countExamensOfDay() ) }}%</span>-->

    <a #popupTarget (click)="ddd()">
            <span pie-chart class="pie-chart" 
                [innerRadius]="25" 
                [radius]="28" 
                [percent]="{ dig: currentStudentsInvited().length, in: countExamensOfDay() }">
            </span>
    </a>


    <span  class="student_invited">{{currentStudentsInvited().length}}</span>
    <span class="examens_count">{{countExamensOfDay()}}</span>





</div>